@model selida.Models.Domain.BlogPost

@{
    ViewData["Title"] = "Edit Blog Post";
}

<h2>Edit Blog Post</h2>

<form method="post">
    <div class="form-group">
        <label for="heading">Heading:</label>
        <input type="text" class="form-control" id="heading" asp-for="Heading" />
    </div>

    <div class="form-group">
        <label for="title">Page Title:</label>
        <input type="text" class="form-control" id="title" asp-for="PageTitle" />
    </div>

    <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" asp-for="Content"></textarea>
    </div>

    <div class="form-group">
        <label for="shortDesc">Short Description:</label>
        <input type="text" class="form-control" id="shortDesc" asp-for="ShortDescription" />
    </div>

    <div class="form-group">
        <label for="img">Feature Image URL:</label>
        <input type="text" class="form-control" id="img" asp-for="FeatureImageUrl" />
    </div>

    <div class="form-group">
        <label for="date">Publish Date:</label>
        <input type="date" class="form-control" id="date" asp-for="PublishDate" />
    </div>

    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" asp-for="Author" />
    </div>

    <div class="py-2">
        <button type="submit" class="btn btn-dark">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>